<!--
	** Author: Collin James, CS 290
	** Date: 5/24/16
	** Description: Final Project - Database Interactions and UI
-->
<div>
	<div id="add_wrapper">
		<form name="addform" id="addexercise" method="post"> <!-- UPDATE THIS -->
	      <fieldset>
	        <legend>Add Exercise</legend>
	        <label for="name">Name</label>
	        <input type="text" name="name" id="name">
	        <label for="reps">Repetitions</label>
	        <select id="reps" name="reps"></select>
	        <label for="weight">Weight</label>
	        <select id="weight" name="weight"></select>
	        <label for="lbs">lbs/kg</label>
	        <select id="lbs" name="lbs">
	        	<option value=1>lbs</option>
	        	<option value=0>kg</option>
	        </select>
	         <label for="date">Date</label>
	        <!-- <input type="text" name="DOB" id="DOB"> -->
	        <select id="DOByears" name="date"></select>
	        <select id="DOBmonths" name="date"></select>
	        <select id="DOBdays" name="date"></select>
	        <input type="submit" id="add" value="Add Exercise">
	      </fieldset>
	    </form>
    </div>
    <div>
    <div id="upd_outer">
    	<div id='update_wrapper'>
			<form name="updateform" id="updateexercise" method="post"> <!-- UPDATE THIS -->
		      <fieldset>
		        <legend>Update Exercise</legend>
		        <input type="hidden" data-id="" id="up_id">
		        <label for="name">Name</label>
		        <input type="text" name="name" id="up_name">
		        <label for="reps">Repetitions</label>
		        <select id="up_reps" name="reps"></select>
		        <label for="weight">Weight</label>
		        <select id="up_weight" name="weight"></select>
		        <label for="lbs">lbs/kg</label>
		        <select id="up_lbs" name="lbs">
		        	<option value=1>lbs</option>
		        	<option value=0>kg</option>
		        </select>
		         <label for="date">Date</label>
		        <!-- <input type="text" name="DOB" id="DOB"> -->
		        <select id="up_DOByears" name="date"></select>
		        <select id="up_DOBmonths" name="date"></select>
		        <select id="up_DOBdays" name="date"></select>
		        <input type="submit" id="do_update" value="Update">
		        <button id="cancel_update">Cancel</button>
		      </fieldset>
		    </form>
	    </div>
    </div>
</div>
    
	<div>
		<table id="exercises">
			<thead>
				<tr>
					<th>name</th>
					<th>reps</th>
					<th>weight</th>
					<th>date</th>
				</tr>
			</thead>
			<tbody id="ex_table_body">
			{{#each exercise}}
				<tr id="{{this.id}}">
					<!-- <input type="hidden" id="{{this.id}}"> -->
					<td class="ex_data">{{this.name}}</td>
					<td class="ex_data">{{this.reps}}</td>
					<!-- 90 lbs OR 90 kg OR N/A -->
					<td class="ex_data">{{#if this.weight}}
							{{this.weight}}
							{{#if this.lbs}}
								lbs
							{{else}}
								kg
							{{/if}}
						{{else}}
							N/A
						{{/if}}
					</td>
					<td class="ex_data">{{this.date}}</td>
					<td class='ex_btn'><button class='update' data-id="{{this.id}}">update</button></td>
					<td class='ex_btn'><button class='delete' data-id="{{this.id}}">delete</button></td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>